<div class="bg-dark mb-3">
    <div class="container">
        <nav class="navbar navbar-dark navbar-inverse navbar-toggleable-md navbar-expand-md">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <a class="navbar-brand" href="{{ path('homepage') }}">Snippety</a>
                <ul class="navbar-nav">

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% include 'partial/navigation-logged-in.html.twig' %}
                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                {{ 'Login' | trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('register') }}">
                                {{ 'Register' | trans }}
                            </a>
                        </li>

                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>